#root {
  width: 80%;
  margin: auto;
  font-size: 1.25em;
  color: #3C4345;
  margin: 0;
  padding: 0;
}

body {
  font-family: Lato, Georgia;
  font-size: 1em;
  line-height: 1.5em;
}

/* For desktop: */
@media only screen and (min-width: 768px) {
  #container {
    display: flex;
  }

  #categories {
    flex: 1;
  }
  .galleryView {
    flex: 2;
  }
}