#root {
  margin: auto;
  font-size: 1.25em;
  color: #3c4345;
  margin: 0;
  padding: 0;
}

body {
  font-family: Lato, Georgia;
  font-size: 1em;
  line-height: 1.5em;
  font-family: sans-serif;
  background-color: #f4f4f4;
}

.tabs button {
  color: white;
  border: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  flex: 1;
  }

.tabs {
    display: flex;
  }

.tab-button {
  background-color: #555
}

.tabs button:hover {
  background-color: #777;
}

.tab-active {
  background-color: #888;
}

/* For desktop: */
@media only screen and (min-width: 768px) {
  #container {
    display: flex;
  }

  #categories {
    flex: 1;
  }
  .galleryView {
    flex: 2;
  }
}

.container {
  padding: 25px;
  background-color: white;
  margin: 15px;
  color: #232323;
}
button {
  background-color: #242434;
  border-color: #242434;
  color: white;
  font-family: Lato,Helvetica,Arial,sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  padding: 0 70px;
  margin: 12px;
  height: 60px;
  line-height: 34px;
  border: 0;
  border-radius: 0;
  font-size: 1rem;
  letter-spacing: 2px;
  text-decoration: none;
  border-width: 1px;
  border-style: solid;
  -webkit-appearance: none;
  word-break: initial;
  white-space: nowrap;
}
h2 {
  font-weight: 300;
  margin-bottom: 5px;
}
.form-radio {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  position: relative;
  background-color: #f1f1f1;
  color: #666;
  top: 10px;
  height: 30px;
  width: 30px;
  border: 0;
  border-radius: 50px;
  cursor: pointer;
  margin-right: 7px;
  outline: none;
}

.tabs {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.form-radio:checked::before {
  position: absolute;
  font: 13px/1 "Lato", sans-serif;
  left: 11px;
  top: 7px;
  content: "\02143";
  transform: rotate(40deg);
}
.form-radio:hover {
  background-color: #f7f7f7;
}
.form-radio:checked {
  background-color: #f1f1f1;
}
label {
  font: 300 16px/1.7 "Lato", sans-serif;
  color: #666;
  cursor: pointer;
}
